@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(3, 3, 3, 0.87);
	background-color: black;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
	width: 0rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"]::-moz-number-spin-box {
	-moz-appearance: textfield;
}

/* Estilos para anular el autocompletado del navegador */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #f3f4f6 inset !important;
	-webkit-text-fill-color: black !important;
}

/* Estilos por defecto para inputs con la clase .default-input */
input.default-input {
	background-color: #f3f4f6 !important;
	color: black !important;
}

input.default-input:focus,
input.default-input:hover,
input.default-input:active {
	background-color: #f3f4f6 !important;
	color: black !important;
}

/* Puedes agregar más estilos específicos aquí si es necesario */
/* Ocultar el icono del reloj en WebKit (Chrome, Safari, etc.) */
input[type="time"]::-webkit-calendar-picker-indicator {
	display: none;
}

/* Ocultar el icono del reloj en Firefox */
input[type="time"] {
	-moz-appearance: textfield;
}

/* Estilo adicional para mantener la apariencia consistente */
input[type="time"] {
	appearance: textfield;
}
